<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>bookstore.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminPrivilegeFilter</filter-name>
    <filter-class>bookstore.web.filter.AdminPrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminPrivilegeFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListProductServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.ListProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductServlet</servlet-name>
    <url-pattern>/listProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindScoreByIdServlet</display-name>
    <servlet-name>FindScoreByIdServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.FindScoreByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindScoreByIdServlet</servlet-name>
    <url-pattern>/FindScoreByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.ShowProductByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <url-pattern>/showProductByPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.FindProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <url-pattern>/findProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/addCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeCartServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.ChangeCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCartServlet</servlet-name>
    <url-pattern>/changeCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/createOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindOrderByUserServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.FindOrderByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByUserServlet</servlet-name>
    <url-pattern>/findOrderByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindOrderByIdServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.FindOrderByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByIdServlet</servlet-name>
    <url-pattern>/findOrderById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindOrdersServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.FindOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrdersServlet</servlet-name>
    <url-pattern>/findOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OnLinePayServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.OnLinePayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnLinePayServlet</servlet-name>
    <url-pattern>/onlinepay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CallBackServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.CallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallBackServlet</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeOrderStateServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.ChangeOrderStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrderStateServlet</servlet-name>
    <url-pattern>/orderstate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindProductByManyConditionServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.FindProductByManyConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByManyConditionServlet</servlet-name>
    <url-pattern>/findProductByManyCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/editProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindOrderByManyConditionServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.FindOrderByManyConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByManyConditionServlet</servlet-name>
    <url-pattern>/findOrderByManyCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelOrderByIdServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.DelOrderByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelOrderByIdServlet</servlet-name>
    <url-pattern>/delOrderById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imageCode</servlet-name>
    <servlet-class>bookstore.util.CheckImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageCode</servlet-name>
    <url-pattern>/imageCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActiveUserServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.ActiveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveUserServlet</servlet-name>
    <url-pattern>/activeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyAccountServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.MyAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountServlet</servlet-name>
    <url-pattern>/myAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListNoticeServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.ListNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListNoticeServlet</servlet-name>
    <url-pattern>/manager/ListNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNoticeServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.AddNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNoticeServlet</servlet-name>
    <url-pattern>/manager/AddNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateNoticeServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.UpdateNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNoticeServlet</servlet-name>
    <url-pattern>/manager/UpdateNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindByIdNoticeServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.FindByIdNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdNoticeServlet</servlet-name>
    <url-pattern>/manager/FindByIdNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNoticeServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.EditNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNoticeServlet</servlet-name>
    <url-pattern>/manager/EditNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNoticeServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.DeleteNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNoticeServlet</servlet-name>
    <url-pattern>/manager/DeleteNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuSearchServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.MenuSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuSearchServlet</servlet-name>
    <url-pattern>/MenuSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowIndexServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.ShowIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndexServlet</servlet-name>
    <url-pattern>/ShowIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCollectServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.AddCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCollectServlet</servlet-name>
    <url-pattern>/addCollect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeCollectServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.ChangeCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCollectServlet</servlet-name>
    <url-pattern>/changeCollect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCollectionByPageServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.ShowCollectionByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCollectionByPageServlet</servlet-name>
    <url-pattern>/showCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindCollectServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.FindCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCollectServlet</servlet-name>
    <url-pattern>/findCollect</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindCommentByUserServlet</display-name>
    <servlet-name>FindCommentByUserServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.FindCommentByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCommentByUserServlet</servlet-name>
    <url-pattern>/findCommentByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCommentByIdServlet</display-name>
    <servlet-name>FindCommentByIdServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.FindCommentByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCommentByIdServlet</servlet-name>
    <url-pattern>/findCommentById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCommentStateServlet</display-name>
    <servlet-name>ChangeCommentStateServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.ChangeCommentStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCommentStateServlet</servlet-name>
    <url-pattern>/changeCommentState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCommentContentByIdServlet</display-name>
    <servlet-name>FindCommentContentByIdServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.FindCommentContentByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCommentContentByIdServlet</servlet-name>
    <url-pattern>/findContentById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindCommentByProductidServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.FindCommentByProductidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCommentByProductidServlet</servlet-name>
    <url-pattern>/findCommentByProductid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCommentServlet</display-name>
    <servlet-name>ListCommentServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.ListCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCommentServlet</servlet-name>
    <url-pattern>/ListCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdCommentServlet</display-name>
    <servlet-name>FindByIdCommentServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.FindByIdCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdCommentServlet</servlet-name>
    <url-pattern>/FindByIdCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCommentServlet</display-name>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <url-pattern>/DeleteCommentServlet</url-pattern>
  </servlet-mapping>
  
  
  <!--  -->
  <servlet>
    <servlet-name>HelpMessageServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.HelpMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpMessageServlet</servlet-name>
    <url-pattern>/help</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ListMessageServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.ListMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMessageServlet</servlet-name>
    <url-pattern>/manager/ListMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>replyMessageServlet</display-name>
    <servlet-name>replyMessageServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.replyMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replyMessageServlet</servlet-name>
    <url-pattern>/manager/replyMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdMessageServlet</display-name>
    <servlet-name>FindByIdMessageServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.FindByIdMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdMessageServlet</servlet-name>
    <url-pattern>/manager/FindByIdMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPhotoServlet</display-name>
    <servlet-name>AddPhotoServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.AddPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhotoServlet</servlet-name>
    <url-pattern>/manager/AddPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowLoginServlet</display-name>
    <servlet-name>ShowLoginServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.ShowLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLoginServlet</servlet-name>
    <url-pattern>/manager/ShowLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPhotoServlet</display-name>
    <servlet-name>ListPhotoServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.ListPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPhotoServlet</servlet-name>
    <url-pattern>/manager/ListPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePhotoServlet</display-name>
    <servlet-name>DeletePhotoServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.DeletePhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePhotoServlet</servlet-name>
    <url-pattern>/manager/DeletePhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdPhotoServlet</display-name>
    <servlet-name>FindByIdPhotoServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.FindByIdPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdPhotoServlet</servlet-name>
    <url-pattern>/FindByIdPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPhotoServlet</display-name>
    <servlet-name>EditPhotoServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.EditPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPhotoServlet</servlet-name>
    <url-pattern>/manager/EditPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessageServlet</display-name>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.DeleteMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <url-pattern>/manager/DeleteMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayzhifubaoServlet</display-name>
    <servlet-name>PayzhifubaoServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.PayzhifubaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayzhifubaoServlet</servlet-name>
    <url-pattern>/PayzhifubaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findMessageBynameServlet</display-name>
    <servlet-name>findMessageBynameServlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.FindMessageBynameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findMessageBynameServlet</servlet-name>
    <url-pattern>/findMessageBynameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindSellByManyConditions</display-name>
    <servlet-name>FindSellByManyConditions</servlet-name>
    <servlet-class>bookstore.web.servlet.manager.FindSellByManyConditions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindSellByManyConditions</servlet-name>
    <url-pattern>/FindSellByManyConditions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddmessageSelvlet</display-name>
    <servlet-name>AddmessageSelvlet</servlet-name>
    <servlet-class>bookstore.web.servlet.client.AddmessageSelvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddmessageSelvlet</servlet-name>
    <url-pattern>/AddmessageSelvlet</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>